<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Authors</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<h1>List authors</h1>
<img th:src="@{/images/pen.png}" alt="pen" height="200" width="300">
<div class="grid">
    <div class="author-list" id="names">
        <h3>Author definition:</h3>
        <table border="1">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Patronymic</th>
                <th>Books</th>
            </tr>
            <tr th:each="writer : ${writers}">
                <td th:utext="${writer.name}"/>
                <td th:utext="${writer.surname}"/>
                <td th:utext="${writer.patronymic}"/>
                <td th:utext="${writer.books}"/>
            </tr>
        </table>
    </div>
</div>
</body>
</html>